    *{
    margin: 0px;
    padding: 0px;
    }
    #sayfa{
        width: 900px;
        border-style: solid;
        border-width: 1px;
        min-height: 600px;
        margin: auto;
        background-color: #262161;
    }
    #sayfa div p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        width: 450px;
        float: left;
        text-align: center;
        position: relative;
        top: 30px;
        left: 60px;
    }
    .enust{
        color: #FBAF41;
    }
    /* banner */
    #banner{
        width: 898px;
        border-style: solid;
        border-width: 1px;
        height: 100px;
        background-color: #262161;
        margin: auto;
    }
    /* logo */
    #logo{
        width: 100px;
        border-width: 1px;
        height: 100px;
        position: relative;
        left: 0px;
        float: left;
    }
    /* sosyal medya */
    #sosyal{
        width: 172px;
        border-style: none;
        border-width: 1px;
        height: 40px;
        float: right;
        position: relative;
        top: 58px;
        right: 2px;
    }
    #ikon{
        float: right;
    }
    /* anamenü */
    #anamenu{
        width: 898px;
        border-style: solid;
        border-width: 2px;
        height: 50px;
        background-color: #FBAF41;
        margin: auto;
    }
    #anamenu ul{
        list-style-type: none;
    }
    #anamenu ul li{
        border-style: solid;
        border-width: 2px;
        width: 100px;
        border-radius: 20px;
        text-align: center;
        border-color: black;
        background-color: white;
        float: left;
        margin-left: 80px;
        padding: 5px;
        position: relative;
        top: 9px;  
    }
    #anamenu ul a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        font-weight: bold;
    }
    #anamenu ul a:link{
        color: black;
    }
    #anamenu ul a:visited{
        color: black;
    }
    #anamenu ul a:hover{
        color: #FBAF41;
        text-decoration: underline;
        font-style: bolder;
    }
    #anamenu ul a:active{
        color: white;
    }
    /* içerik ve yanmenü */
    .yanicerik{
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    #icerik{
        width: 598px;
        border-style: none solid none none;
        border-width: 1px;
        min-height: 400px;
        float: left;
        background-color: #262161;
        text-indent: 15px;
    }
    #iletisimmetin{
        text-align: center;
        position: relative;
        top: 80px;
    }
    #yanmenu{
        width: 298px;
        border-style: none;
        border-width: 1px;
        height: 400px;
        background-color: #262161;
        float: left;
    }
    .resim{
        float: left;
        width: 250px;
        height: 150px;
        margin: 10px;
    }
    .metin{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 17px;
        color: white;
        padding-top: 25px;
    }
    .baslik{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #FBAF41;
    }
    #genelbaslik{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    /* altmenü */
    #altmenu{
        width: 898px;
        border-style: solid;
        border-width: 2px;
        height: 43px;
        float: left;
        text-align: center;
        color: black;
        background-color: #FBAF41;
    }    
    #altmenu a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 11px;
        font-weight: bolder;
        color: black;
        text-decoration: none;
    }
    #altmenu a:hover{
        color: white;
        text-decoration: underline;
    }
    .kucukmetin{
        font-size: 12px;
    }